.grid-block {
  display: grid;
  justify-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  border-top: 1px solid $textcolor;

  &__history {
    font-weight: 300;
    margin-block: 0;
    grid-column: 1/3;
    font-size: 30px;
    line-height: 42px;
    padding: 41px 50px 45px;
  }

  &__bold {
    font-weight: 400;
  }

  &__comparison {
    border-left: 1px solid $textcolor;
    padding: 41px 2px 0 50px;
  }

  &__list {
    margin-block: 0;
    list-style-type: none;
    padding-inline-start: 0;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 2px;
    margin-block: 0;
    margin-bottom: 50px;
  }

  &__comparison-text {
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    margin: 0;
    list-style-type: none;
  }

}
