.logo {
  display: block;

  &_place {
    display: flex;

    &_header {
      position: absolute;
      right: 50%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

      @media screen and (max-width: 720px) {
        /* стили для планшета */
        width: 100px;
        height: 20px;
      }
    }

    &_footer {
      justify-self: end;

      @media screen and (max-width: 720px) {
        margin-top: 82px;
      }
    }
  }
}
