.page {
  font-family: 'SourceSansPro', 'arial', sans-serif;
  font-weight: 400;
  background-color: $foncolor;
  color: $textcolor;
  display: block;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
