.footer {
  grid-row: 1/5;
  grid-column: 2/3;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  border-left: 1px solid $textcolor;

  @media screen and (max-width: $desktop) {
    border: none;
  }

  @media screen and (max-width: $tablets) {
    border-top: 1px solid $textcolor;
    padding: 20px;
    align-items: stretch;
  }

  &__copyright {
    margin-block: 0;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 1px;
    grid-column: 2/3;

    @media screen and (max-width: $tablets) {
      margin-top: 20px;
      margin-left: 10px;
    }
  }
}
