.subtitle {
  box-sizing: border-box;
  font-weight: $regularFont;
  margin-block: 0;
  font-size: 46px;
  line-height: 46px;
  grid-column: 1/2;
  padding: 50px 0px 16px 50px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media screen and (max-width: $tablets) {
    padding: 20px 0 20px 20px;
    font-size: calc(24px + (46 - 24) * ((100vw - 288px) / (720 - 288)));
    line-height: calc(24px + (46 - 24) * ((100vw - 288px) / (720 - 288)));
  }

  &_desabled {
    display: block;

    @media screen and (max-width: $desktop) {
      display: none;
    }
  }
}
