.subscription {
  min-height: 317px;
  display: grid;
  border-top: 1px solid $textcolor;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));

  @media screen and (max-width: $tablets) {
    display: block;
  }

  &__subtitle {
    margin-block: 0;
    padding-left: 50px;
    grid-column: 1/2;
    font-size: 19px;
    line-height: 28px;
    box-sizing: border-box;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;

    @media screen and (max-width: $tablets) {
      padding-left: 20px;
      font-size: 14px;
      line-height: 14px;
    }
  }
}
